@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.clearfix{
    clear: both;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

/* Typography */

h1{
    font-size: 2rem;
    line-height: 2.2rem;
}

h2{
    font-size: 1.8rem;
    line-height: 2.0rem;
}

h3{
    font-size: 1.2rem;
    line-height: 1.4rem;
}

h4{
    font-size: 1rem;
    line-height: 1.2rem;
}

h5{
    font-size: 0.9rem;
    line-height: 1.1rem;
}

h6{
    font-size: 0.8rem;
    line-height: 1rem;
}

/* Layout */

#app-row{
    /* background-color: yellow; */
    height: 80px;
}

#nav-row{
    background-color: #231f20;
}

#misc-row{
    text-align: right;
    background-color: #ffde00;
    padding: 4px 0;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

#app-row>.container{
    /* background-color: red; */
    height: 100%;
    padding: 10px 0;
}

#logo{
    /* float: left; */
    height: 60px;
}

#app-row>.container>.wrapper{
    float: right;
    /* background-color: greenyellow; */
    /* width: 85%; */
    height: 100%;
}

/* #app-row>.container>.wrapper>.row:first-child{
    background-color: white;
} */

#app-row>.container>.wrapper>.row:last-child{
    padding-top: 10px;
    /* background-color: rgb(16, 157, 252); */
}

#nav-lang li{
    float: left;
    padding-left: 20px;
}

#nav-lang li a:hover{
    color: #ff9d1e;
}

#nav-lang{
    float: right;
}

nav>li>a{
    font-size: .8rem;
    color: black;
    text-decoration: none;
}

nav>li>a:hover{
    text-decoration: underline;
}

#main-nav{
    float: left;
    padding-top: 10px;
    /* background-color: blueviolet; */
}

#smi-container{
    float: right;
    /* background-color: black; */
    color: white;
}

#main-nav li{
    float: left;
    padding: 0 25px;
}

#smi-container ul li{
    float: left;
    padding: 5px;
    /* background-color: white; */
    margin-left: 8px;
}

#smi-container ul li:first-child{
    background-color: #3f4da1;
}

#smi-container ul li:nth-child(2){
    background-color: #57a0d7;
}

#smi-container ul li:nth-child(3){
    background-color: #57a0d7;
}

#smi-container ul li:last-child{
    background-color: #d74527;
}

#smi-container ul li ion-icon{
    font-size: 1.2rem;
    color: white;
}

#nav-row nav li{
    float: left;
}

#nav-row nav li a{
    position: relative;
    display: inline-block;
    padding: 15px;
    color: white;
}

#nav-row nav li a:hover::after{
    position: absolute;
    display: block;
    content: "";
    border-top: 6px solid #ff9d1e;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

#nav-row nav li a:hover{
    background-color: #ff9d1e;
    color: black;
    text-decoration: none;
}

#misc-row .btn{
    display: inline-block;
    height: 40px;
    background-color: #107ece;
    color: white;
    border-bottom: 2px solid #0f027b;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 40px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.8rem;
}

#misc-row .btn:hover{
    background-color: #0865a9;
}

/* Footer */

footer .row{
    background-color: #808285;
}

#copyright-row{
    background-color: #ffde00;
}

#copyright-row>.container{
    padding: 16px 0;
    color: #515254;
    font-size: 0.7rem;
    text-align: center;
}

footer>.row .col{
    float: left;
    width: 25%;
    height: 215px;
    padding-top: 20px;
}

footer>.row .col h3{
    padding-bottom: 16px;
    color: white;
}

footer>.row .col nav li{
    line-height: 1.2rem;
}

footer>.row .col nav li a{
    font-size: 0.75rem;
    color: white;
}

footer>.row .col nav li a:hover{
    color: #ff9d1e;
}

footer>.row .col:last-child{
    padding-left: 15px;
    background-color: #515254;
    position: relative;
    z-index: 1;
}

footer>.row .col:last-child p{
    padding-bottom: 8px;
    color: white;
    font-size: 0.75rem;
    line-height: 1.1rem;
}

#tel-2{
    padding-left: 23px;
}

footer>.row{
    position: relative;
}

footer>.row::after{
    display: block;
    content: "";
    background-color: #515254;
    position: absolute;
    width: 25%;
    right: 0;
    top: 0;
    bottom: 0;
    /* z-index: -1; */
}

/* aside */

aside{
    font-weight: bold;
    background-color: #1f1f1f;
    position: fixed;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transform: rotate(270deg);
    right: -38px;
    bottom: 25%;
    z-index: 99999;
}

aside:hover{
    right: -31px;
}

aside a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

aside a ion-icon{
    color: black;
    font-size: 1rem;
    vertical-align: middle;
}

#bubble-wrapper{
    position: relative;
    display: inline-block;
    background-color:#ffde00;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 4px;
}

#bubble-wrapper::before{
    display: block;
    content: "";
    background-color: #ffdd0057;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* z-index: 1; */
    border-radius: 100%;
    width: 5px;
    height: 5px;
    animation-name: wave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes wave {
    from{
        transform: scale(0);
        opacity: 1;
    }
    to{
        transform: scale(15);
        opacity: 0.5;
    }
}